// Here you can add other styles
.som {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  .inc-dec-button, .inc-dec-button:active, .inc-dec-button:focus {
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }